<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>spring-mvc-web-application</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>welcome.jsp</welcome-file>
	</welcome-file-list>


	<servlet>
		<servlet-name>first-controller</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>


	<servlet-mapping>
		<servlet-name>first-controller</servlet-name>
		<url-pattern>/list-students</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>first-controller</servlet-name>
		<url-pattern>/add-student</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>first-controller</servlet-name>
		<url-pattern>/save-student</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>first-controller</servlet-name>
		<url-pattern>/load-student</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>first-controller</servlet-name>
		<url-pattern>/update-student</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>first-controller</servlet-name>
		<url-pattern>/delete-student</url-pattern>
	</servlet-mapping>

</web-app>